<!doctype html>
{% load staticfiles %}
<html>
<head>
<title>程式語言小百科</title>
<meta charset=utf-8>
<link rel=stylesheet href="{% static 'main/css/main.css' %}">
</head>
<body>
<h1>輸入資料如下:</h1>
<p><b> 程式類別:</b></p>
<ul>
{% for category in categories %}
<li>{{category.name}}</li>
{% endfor %}
</ul>
<p><b>頁面:</b></p>
<table>
<tr><th>標題</th><th>所屬類別</th><th>網址</th><th>浏览次数<th></tr>
{% for page in pages %}
<tr><td>{{page.title}}</td><td>{{page.category.name}}</td><td>{{page.url}}</td><td>{{page.views}}</td></tr>
{% endfor %}
</table>
<br>
<p><a href="{% url 'main:main' %}">回首頁</a></p>
</body>
</html>